<table class="colorTableCmykToRgb">
<tbody><tr>
<th>Color</th>
<th>name</th>
<th>(C,M,Y,K)</th>
<th>(R,G,B)</th>
<th>Hex</th>
</tr>
<tr>
<td style="background-color:#000000">&nbsp;</td>
<td>Black</td>
<td>(0,0,0,1)</td>
<td>(0,0,0)</td>
<td>#000000</td>
</tr>
<tr>
<td style="background-color:#FFFFFF">&nbsp;</td>
<td>White</td>
<td>(0,0,0,0)</td>
<td>(255,255,255)</td>
<td>#FFFFFF</td>
</tr>
<tr>
<td style="background-color:#FF0000">&nbsp;</td>
<td>Red</td>
<td>(0,1,1,0)</td>
<td>(255,0,0)</td>
<td>#FF0000</td>
</tr>
<tr>
<td style="background-color:#00FF00">&nbsp;</td>
<td>Green</td>
<td>(1,0,1,0)</td>
<td>(0,255,0)</td>
<td>#00FF00</td>
</tr>
<tr>
<td style="background-color:#0000FF">&nbsp;</td>
<td>Blue</td>
<td>(1,1,0,0)</td>
<td>(0,0,255)</td>
<td>#0000FF</td>
</tr>
<tr>
<td style="background-color:#FFFF00">&nbsp;</td>
<td>Yellow</td>
<td>(0,0,1,0)</td>
<td>(255,255,0)</td>
<td>#FFFF00</td>
</tr>
<tr>
<td style="background-color:#00FFFF">&nbsp;</td>
<td>Cyan</td>
<td>(1,0,0,0)</td>
<td>(0,255,255)</td>
<td>#00FFFF</td>
</tr>
<tr>
<td style="background-color:#FF00FF">&nbsp;</td>
<td>Magenta</td>
<td>(0,1,0,0)</td>
<td>(255,0,255)</td>
<td>#FF00FF</td>
</tr>
</tbody></table>
