<table class="colorTableHexToRgb">
<tbody><tr>
<th>Color</th>
<th>name</th>
<th>Hex</th>
<th>(R,G,B)</th>
</tr>
<tr>
<td style="background-color:#000000">&nbsp;</td>
<td>Black</td>
<td>#000000</td>
<td>(0,0,0)</td>
</tr>
<tr>
<td style="background-color:#FFFFFF">&nbsp;</td>
<td>White</td>
<td>#FFFFFF</td>
<td>(255,255,255)</td>
</tr>
<tr>
<td style="background-color:#FF0000">&nbsp;</td>
<td>Red</td>
<td>#FF0000</td>
<td>(255,0,0)</td>
</tr>
<tr>
<td style="background-color:#00FF00">&nbsp;</td>
<td>Lime</td>
<td>#00FF00</td>
<td>(0,255,0)</td>
</tr>
<tr>
<td style="background-color:#0000FF">&nbsp;</td>
<td>Blue</td>
<td>#0000FF</td>
<td>(0,0,255)</td>
</tr>
<tr>
<td style="background-color:#FFFF00">&nbsp;</td>
<td>Yellow</td>
<td>#FFFF00</td>
<td>(255,255,0)</td>
</tr>
<tr>
<td style="background-color:#00FFFF">&nbsp;</td>
<td>Cyan</td>
<td>#00FFFF</td>
<td>(0,255,255)</td>
</tr>
<tr>
<td style="background-color:#FF00FF">&nbsp;</td>
<td>Magenta</td>
<td>#FF00FF</td>
<td>(255,0,255)</td>
</tr>
<tr>
<td style="background-color:#C0C0C0">&nbsp;</td>
<td>Silver</td>
<td>#C0C0C0</td>
<td>(192,192,192)</td>
</tr>
<tr>
<td style="background-color:#808080">&nbsp;</td>
<td>Gray</td>
<td>#808080</td>
<td>(128,128,128)</td>
</tr>
<tr>
<td style="background-color:#800000">&nbsp;</td>
<td>Maroon</td>
<td>#800000</td>
<td>(128,0,0)</td>
</tr>
<tr>
<td style="background-color:#808000">&nbsp;</td>
<td>Olive</td>
<td>#808000</td>
<td>(128,128,0)</td>
</tr>
<tr>
<td style="background-color:#008000">&nbsp;</td>
<td>Green</td>
<td>#008000</td>
<td>(0,128,0)</td>
</tr>
<tr>
<td style="background-color:#800080">&nbsp;</td>
<td>Purple</td>
<td>#800080</td>
<td>(128,0,128)</td>
</tr>
<tr>
<td style="background-color:#008080">&nbsp;</td>
<td>Teal</td>
<td>#008080</td>
<td>(0,128,128)</td>
</tr>
<tr>
<td style="background-color:#000080">&nbsp;</td>
<td>Navy</td>
<td>#000080</td>
<td>(0,0,128)</td>
</tr>
</tbody></table>
