<div class="navbar">
	<button type="button" class="btn" data-page="rgb-to-hex.html" onclick="location.href='rgb-to-hex.html'">RGB to HEX</button>
	<button type="button" class="btn" data-page="rgb-to-hsv.html" onclick="location.href='rgb-to-hsv.html'">RGB to HSV</button>
	<button type="button" class="btn" data-page="rgb-to-hsl.html" onclick="location.href='rgb-to-hsl.html'">RGB to HSL</button>
	<button type="button" class="btn" data-page="rgb-to-cmyk.html" onclick="location.href='rgb-to-cmyk.html'">RGB to CMYK</button>
	<button type="button" class="btn" data-page="hex-to-rgb.html" onclick="location.href='hex-to-rgb.html'">HEX to RGB</button>
	<button type="button" class="btn" data-page="hsv-to-rgb.html" onclick="location.href='hsv-to-rgb.html'">HSV to RGB</button>
	<button type="button" class="btn" data-page="hsl-to-rgb.html" onclick="location.href='hsl-to-rgb.html'">HSL to RGB</button>
	<button type="button" class="btn" data-page="cmyk-to-rgb.html" onclick="location.href='cmyk-to-rgb.html'">CMYK to RGB</button>
</div>

