<ul class="page-link">
	<li style="font-weight:bold;">COLOR CONVERSION</li>
	<li>다른 색상 변환 바로가기</li>
	<li><button type="button" class="btn" onclick="location.href='rgb-to-hex.html'">RGB to HEX</button></li>
	<li><button type="button" class="btn" onclick="location.href='rgb-to-hsv.html'">RGB to HSV</button></li>
	<li><button type="button" class="btn" onclick="location.href='rgb-to-hsl.html'">RGB to HSL</button></li>
	<li><button type="button" class="btn" onclick="location.href='rgb-to-cmyk.html'">RGB to CMYK</button></li>
	<li><button type="button" class="btn" onclick="location.href='hex-to-rgb.html'">HEX to RGB</button></li>
	<li><button type="button" class="btn" onclick="location.href='hsv-to-rgb.html'">HSV to RGB</button></li>
	<li><button type="button" class="btn" onclick="location.href='hsl-to-rgb.html'">HSL to RGB</button></li>
	<li><button type="button" class="btn" onclick="location.href='cmyk-to-rgb.html'">CMYK to RGB</button></li>
</ul>
